body {
  font-family: "Ubuntu", sans-serif;
  background: url(./materials-for-hw7/Фон-1.png);
  background-size: cover;
  box-sizing: border-box;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
}
/* HEADER  */
.shadow-phone {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;

  /* margin: 0 76px 0; */
}
.logo a {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px; /* 100% */
}
.logo a:hover {
  color: #3cb878;
  transition: fill 0.3s ease;
}
.icons-svg {
  fill: white;
}
.icons-svg:hover {
  fill: #3cb878;
  transition: fill 0.3s ease;
}
.left-header-side {
  display: flex;
  align-items: center;
}
.enter {
  display: flex;
  color: #fff;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}
.enter p a {
  color: #fff;
}
.enter a:hover {
  color: #3cb878;
}
.icons {
  width: 126px;
  display: flex;
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
  justify-content: space-between;
}
.icons::after {
  display: block;
  position: absolute;
  height: 19px;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  content: "";
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

main {
  width: 444px;
  height: 584px;
  background: #fff;
  margin: 54px auto 74px;
  position: relative;
}
.main-content {
  max-width: 324px;
  margin: 0 auto;
}
.main-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.first-link {
  color: #434343;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.second-link {
  color: #3cb878;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.second-link:hover,
label a:hover {
  text-decoration: underline;
  color: #01813f;
}

.main-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.btn-Facebook {
  background-color: #305db8;
  color: #fff;
  width: 158px;
  height: 48px;
  border-style: none;
  border-radius: 4px;
  padding: 0;
}
.btn-Facebook:hover {
  background-color: #022263;
}
.btn-Facebook a {
  width: 158px;
  height: 48px;
}
.btn-Facebook span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  padding-left: 18px;
}
.btn-google {
  background-color: #df4a32;
  color: #fff;
  width: 158px;
  height: 48px;
  border-style: none;
  border-radius: 4px;
  padding: 0;
}
.btn-google:hover {
  background-color: #ab1f09;
}
.btn-google a {
  width: 158px;
  height: 48px;
}
.btn-google img {
  display: block;
  padding-left: 10px;
  padding-right: 7px;
}
.btn-google span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px; /* 100% */
  position: relative;
  padding-left: 30px;
}
.btn-Facebook-link {
  display: flex;
  align-items: center;
}
.btn-google-link {
  display: flex;
  align-items: center;
}
.btn-google span::before {
  display: block;
  position: absolute;
  height: 28px;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  content: "";
  border-right: 1px solid #2b0d09;
  opacity: 0.1;
}
.btn-Facebook span::before {
  display: block;
  position: absolute;
  height: 28px;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  content: "";
  border-right: 1px solid #0a162f;
  opacity: 0.1;
}
.btn-Facebook svg {
  padding-left: 11px;
  padding-right: 13px;
}
.decoration {
  width: 18px;
  height: 18px;
  background: #3cb878;
  position: absolute;
  left: 0;
  top: 30px;
}
.lines {
  text-align: center;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 31px;
  margin-bottom: 11px;
  position: relative;
}
.lines::before {
  content: "";
  display: block;
  width: 152px;
  border-bottom: 1px solid #f2f2f2;
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
}
.lines::after {
  content: "";
  display: block;
  width: 152px;
  border-bottom: 1px solid #f2f2f2;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}
.name {
  width: 302.405px;
  height: 44px;
  padding: 0 0 0 20px;

  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-bottom: 15px;
}
.name:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
input {
  outline: none;
}

.name:focus::placeholder {
  color: #434343;
  opacity: 1;
}
.name::placeholder {
  color: #bebebe;
  opacity: 1;
}
.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background: rgba(0, 0, 0, 0);
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(./materials-for-hw7/Vector-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

label {
  display: inline-block;
  width: 324px;
  color: #434343;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
label a {
  color: #3cb878;
}

.third-btn {
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  width: 324px;
  height: 46px;
  border-style: none;
  padding: 0;
  margin-top: 20px;
}
.third-btn:hover {
  background: #01813f;
}
.third-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 324px;
  height: 46px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
